<body class="h-full">
  <app-header></app-header>
  <div class="hero min-h-screen bg-base-200">
    <div class="text-center hero-content">
      <div class="max-w-full">
        <h1 class="mt-6 mb-5 text-5xl font-bold">
          {{ title }}
        </h1>
        <p class="mb-5">
          {{ description }}
        </p>
        <div class="form-control">
          <input [(ngModel)]="passwordInput" type="text" placeholder="123456..." class="mb-5 input input-lg input-bordered" required>
        </div>
        <button (click)="addPassword()" class="mb-5 btn btn-primary">Add</button>
        <div class="mb-5 overflow-x-auto">
          <table class="table w-full">
            <thead>
              <tr>
                <th>Type</th> 
                <th>Value</th> 
              </tr>
            </thead> 
            <tbody>
              <tr *ngFor="let hash of hashs">
                <td>{{ hash.type }}</td> 
                <td>{{ hash.value }}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="min-h-[4rem]">
          <div *ngIf="displayResult" class="alert {{ resultType }}">
            <div class="flex-1">
              <svg xmlnserror="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="w-6 h-6 mx-2 stroke-current">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path>                          
              </svg> 
              <label>{{ resultMessage }}</label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</body>
